.json-editor{
	/*width: 500px;*/
	height: 200px;
	margin-top: 15px;
}
.json-editor div.jsoneditor {
	border: 1px solid #E9E9E9;
}
.json-editor div.jsoneditor-menu {
	background-color: #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}
.json-editor div.jsoneditor-menu > button, div.jsoneditor-menu > div.jsoneditor-modes > button {
	background-color: #7D7D7D;
}
